// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;
$color-secondary: #101d2c;
$color-secondary-dark: #0a1119;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px.  10px / 16px = 62.5%
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  font-weight: 1000;
  font-size: 2rem;
}

.body--container {
  display: grid;
  flex-direction: column;
  grid-template-rows: 80vh min-content minmax(min-content, 40vw) repeat(4, min-content);

  /* We want the 8 columns to have a FIXED width.
    Uma width entre 1200px e 1100px. Se dividirmos 1140 / 8 = 142.5
    Então usamos 142px como medida para cada Coluna
    Como nesse projeto cada rem é = a 10px, usamos então 14rem.
    Usamos minmax(min-content, 14rem) pra que as colunas se adaptem
    automaticamente ao conteúdo, mas nunca sendo maior que 14rem cada.

    E adicionamos 2 colunas extras entre as 8 colunas, que vão ter
    1fr de tamanho cada, para ocuparem o espaço restante entre o
    viewport direito e o sidebar na esquerda, centralizando as 8
    colunas entre o sidebar e o lado direito da tela:
  */

  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.2rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];

  @include responsiveMax($tab-land) {
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  }

}

