.header {
  background-color: $color-grey-dark-1;
  grid-row: 1 / 2;
  grid-column: full-start / col-start 7;
  background-image: linear-gradient(to bottom right, rgba($color-secondary, .8), rgba($color-secondary, .93)), url(../img/hero.jpeg);
  background-size: cover;
  padding: 6rem;
  background-position: 50% center;
  margin-right: -1px;
  min-height: 60rem;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr min-content min-content;
  // grid-template-columns: max-content;
  justify-content: center;
  gap: 2.9rem;

  @include responsiveMax($thousand) {
    grid-column: full-start / full-end;
    align-items: center;
  }

  &__logo {
    display: block;
    height: 5rem;
    justify-self: center;
    padding: 1rem;
    align-self: start;

    

    @include responsiveMax($tab-land) {
      margin-top: 2rem;
    }

    


    grid-row: 1 / span 1;
    grid-column: 1 / 2;
  }

  // ------------- HEADINGS ---------------

  &__heading-1 {
    grid-column: 1 / 2;
    padding: 1rem;
  }

  &__heading-3 {
    grid-column: 1 / 2;
    grid-row: 2 / span 1;
  }

  //  ------- SEEN ON TEXT --------

  &__seen-on-text {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 10rem 1fr;
    color: $color-grey-light-2;
    grid-column: 1 / 2;
    justify-self: center;
    font-weight: 100;
    font-size: 1.6rem;
    font-family: $font-primary;

    &::before,
    &::after {
      content: '';
      display: block;
      transform: translateY(1.2rem);
      font-size: 1.6rem;
      width: 20vw;
      height: 1px;
      border-bottom: 1px solid $color-grey-light-2;

    }
  }

  // ---------- LOGOS -----------

  &__seen-on-logos {
    display: flex;
    grid-column: 1 / 2;
    justify-content: space-evenly;
    padding: 0rem 1rem 2rem;

    img {
      height: 2.4rem;

    }
  }

  // ----------- BUTTON -----------

  .btn {
    display: inline-block;
    grid-column: 1 / 2;
    justify-self: left;
    align-self: start;

    @include responsiveMax($tab-land) {
      margin-top: 4rem;
    }

    @include responsiveMax($thousand) {
      margin-top: 0rem;
    }
  }



}