
$small-phone: 400;
$phone: 600;
$tab-port: 900;
$thousand: 1000;
$tab-land: 1200;
$big-desktop: 1800;

// If breakpoint for = a phone, fazemos isso { }
@mixin responsiveMax($breakpoint) {
  @media only screen and (max-width: ($breakpoint / 16 * 1em)) { @content };
}

@mixin resposiveMin($breakpoint) {
  @media only screen and (min-width: ($breakpoint / 16 * 1em)) { @content };
}