.sidebar {
  background: linear-gradient(to left, $color-primary, $color-primary-dark);

  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;

  display: flex;
  justify-content: center;

  @include responsiveMax($tab-land) {
    grid-row: 1 / span 1;
    grid-column: full-start / full-end;
    align-self: flex-start;
    z-index: 10;

    height: 5rem;
    justify-content: right;
    align-items: flex-start;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 3px;
  width: 4.5rem;
  margin-top: 3rem;

  @include responsiveMax($tab-land) {
    margin: 2.2rem 2rem;
    transform: scale(.7);
  }

  &::before,
  &::after {
    content: '';
    height: 3px;
    width: 4.5rem;
    background-color: #fff;
    display: block;
  }

  &::before { transform: translateY(-1.5rem); }
  &::after { transform: translateY(1.3rem); }

  

}