@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  font-weight: 1000;
  font-size: 2rem;
}

.body--container {
  display: grid;
  flex-direction: column;
  grid-template-rows: 80vh -webkit-min-content minmax(-webkit-min-content, 40vw) repeat(4, -webkit-min-content);
  grid-template-rows: 80vh min-content minmax(min-content, 40vw) repeat(4, min-content);
  /* We want the 8 columns to have a FIXED width.
    Uma width entre 1200px e 1100px. Se dividirmos 1140 / 8 = 142.5
    Então usamos 142px como medida para cada Coluna
    Como nesse projeto cada rem é = a 10px, usamos então 14rem.
    Usamos minmax(min-content, 14rem) pra que as colunas se adaptem
    automaticamente ao conteúdo, mas nunca sendo maior que 14rem cada.

    E adicionamos 2 colunas extras entre as 8 colunas, que vão ter
    1fr de tamanho cada, para ocuparem o espaço restante entre o
    viewport direito e o sidebar na esquerda, centralizando as 8
    colunas entre o sidebar e o lado direito da tela:
  */
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14.2rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.2rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .body--container {
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 37.5em) {
  .body--container {
    grid-template-rows: 100vh -webkit-min-content minmax(-webkit-min-content, 40vw) repeat(4, -webkit-min-content);
    grid-template-rows: 100vh min-content minmax(min-content, 40vw) repeat(4, min-content);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Josefin, sans-serif;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
  margin-left: -1rem;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483A;
}

.heading-3 {
  font-size: 1.6rem;
  color: #B28451;
  text-transform: uppercase;
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}

.heading-4 {
  font-size: 2.5rem;
  align-self: center;
  padding-inline: 1.5rem;
  text-transform: capitalize;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border-radius: 0;
  border: none;
  text-align: center;
  padding: 2rem 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 500ms;
  grid-row: 4/span 1;
  grid-column: 2/span 1;
}
.btn:hover {
  background-color: #6D5D4B;
}

.home__btn {
  grid-column: 1/-1;
  grid-row: 5/span 1;
  grid-gap: 0;
}

.features {
  grid-column: center-start/center-end;
  padding-block: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 10rem 6rem;
  min-height: 60rem;
  overflow: hidden;
}

.feature {
  display: grid;
  grid-template-columns: -webkit-min-content minmax(150px, 1fr);
  grid-template-columns: min-content minmax(150px, 1fr);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  gap: 3.5rem;
}
@media only screen and (max-width: 75em) {
  .feature {
    gap: 1.5rem;
    min-height: 20rem;
  }
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  align-self: flex-start;
  justify-self: flex-end;
}
.feature__text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #54483A;
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
  align-self: baseline;
  grid-column: 2/span 1;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 7rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  align-items: center;
}
.nav__item {
  color: white;
  text-align: center;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
  padding: 1.5rem;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  transition: 300ms;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center;
  line-height: 1.5;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 6vw);
  gap: 2rem;
  padding: 2rem;
  transition: 500ms;
}
@media only screen and (max-width: 56.25em) {
  .gallery {
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
.gallery:hover .gallery__item:not(:hover) {
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
}
.gallery__item {
  transition: 500ms;
  z-index: 10;
  display: block;
}
.gallery__item:hover {
  z-index: 15;
  transform: scale(1.2);
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 500ms;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/span 1;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/span 1;
  grid-column: 5/span 1;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/span 1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/span 1;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/span 1;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/span 1;
}

.header {
  background-color: #54483A;
  grid-row: 1/2;
  grid-column: full-start/col-start 7;
  background-image: linear-gradient(to bottom right, rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.93)), url(img/hero.jpeg);
  background-size: cover;
  padding: 6rem;
  background-position: 50% center;
  margin-right: -1px;
  min-height: 60rem;
  display: grid;
  grid-template-rows: 1fr -webkit-min-content 6rem 1fr -webkit-min-content -webkit-min-content;
  grid-template-rows: 1fr min-content 6rem 1fr min-content min-content;
  justify-content: center;
  gap: 2.9rem;
}
@media only screen and (max-width: 62.5em) {
  .header {
    grid-column: full-start/full-end;
    align-items: center;
    margin-right: 0px;
    grid-template-rows: 1fr -webkit-min-content 12rem 1fr -webkit-min-content -webkit-min-content;
    grid-template-rows: 1fr min-content 12rem 1fr min-content min-content;
    gap: 1rem;
  }
}
.header__logo {
  display: block;
  height: 5rem;
  justify-self: center;
  padding: 1rem;
  align-self: start;
  grid-row: 1/span 1;
  grid-column: 1/2;
}
@media only screen and (max-width: 75em) {
  .header__logo {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    margin-bottom: 5rem;
  }
}
.header__heading-1 {
  grid-column: 1/2;
  padding: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .header__heading-1 {
    font-size: 3.7rem;
  }
}
.header__heading-3 {
  grid-column: 1/2;
  grid-row: 2/span 1;
}
.header__seen-on-text {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 10rem 1fr;
  color: #aaa;
  grid-column: 1/2;
  justify-self: center;
  font-weight: 100;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
}
.header__seen-on-text::before, .header__seen-on-text::after {
  content: "";
  display: block;
  transform: translateY(1.2rem);
  font-size: 1.6rem;
  width: 25vw;
  height: 1px;
  border-bottom: 1px solid #aaa;
}
.header__seen-on-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-column: 1/2;
  justify-content: space-evenly;
  padding: 0rem 1rem 2rem;
}
@media only screen and (max-width: 37.5em) {
  .header__seen-on-logos {
    grid-template-columns: 1fr 1fr;
  }
}
.header__seen-on-logos img {
  height: 2.4rem;
}
@media only screen and (max-width: 37.5em) {
  .header__seen-on-logos img {
    margin-top: 2rem;
  }
}
.header .btn {
  display: inline-block;
  grid-column: 1/2;
  justify-self: left;
  align-self: start;
}
@media only screen and (max-width: 75em) {
  .header .btn {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .header .btn {
    margin-top: 0rem;
  }
}

.homes {
  grid-column: center-start/center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  box-shadow: 0 0 5rem -1.5rem #54483A;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
}
.home__img {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
}
.home__like {
  grid-row: 1/2;
  grid-column: 2/3;
  fill: #c69963;
  height: 2.5rem;
  width: 2.5rem;
  justify-self: end;
  grid-column: 1/-1;
  z-index: 2;
  margin: 1rem;
}
.home__name {
  grid-column: 1/-1;
  z-index: 2;
  grid-row: 1/2;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #101d2c;
  color: whitesmoke;
  padding: 1.6rem 0.2rem;
  width: 80%;
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  transform: translateY(2.3rem);
}
.home__location, .home__rooms {
  margin-top: 3rem;
}
.home__location, .home__rooms, .home__area, .home__price {
  display: flex;
  align-items: center;
}
.home__location , .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin: 1rem 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
    margin: 1rem 1rem;
  }
}
.home__location p, .home__rooms p, .home__area p, .home__price p {
  font-size: 1.6rem;
  font-weight: 300;
}

.realtors {
  display: block;
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  grid-row: 1/2;
  width: 100%;
  min-height: 60rem;
  box-shadow: inset 2rem 0 8rem #0a1119, inset -8rem 0 8rem #0a1119;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 62.5em) {
  .realtors {
    grid-row: 2/3;
    grid-column: full-start/full-end;
    padding: 5rem;
  }
}
.realtors__workers {
  transform: scale(1.1);
  width: auto;
  display: grid;
  row-gap: 4rem;
  -moz-column-gap: 0;
       column-gap: 0;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .realtors__workers {
    transform: scale(0.95);
  }
}
.realtors img {
  justify-self: left;
  width: 7rem;
  border-radius: 100%;
}
.realtors__details {
  display: grid;
  gap: 0.5rem;
}
.realtors__heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #B28451;
  text-transform: uppercase;
}
.realtors__heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #f9f7f6;
}
.realtors__description {
  color: #aaa;
  font-size: 1.2rem;
  margin-left: 2px;
  text-transform: uppercase;
}

.sidebar {
  background: linear-gradient(to left, #c69963, #B28451);
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .sidebar {
    grid-row: 1/span 1;
    grid-column: full-start/full-end;
    align-self: flex-start;
    z-index: 10;
    height: 5rem;
    justify-content: right;
    align-items: flex-start;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 3px;
  width: 4.5rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 75em) {
  .nav-btn {
    margin: 2.2rem 2rem;
    transform: scale(0.7);
  }
}
.nav-btn::before, .nav-btn::after {
  content: "";
  height: 3px;
  width: 4.5rem;
  background-color: #fff;
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}

.story {
  display: grid;
  justify-content: center;
  overflow: hidden;
  grid-column: full-start/full-end;
  grid-template-columns: minmax(30rem, 1fr);
}
.story__pictures {
  background-image: linear-gradient(to bottom right, rgba(198, 153, 99, 0.5), rgba(178, 132, 81, 0.5)), url(img/back.jpg);
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.story__img--1 {
  width: 100%;
  align-self: center;
  grid-row: 2/6;
  grid-column: 2/6;
}
.story__img--2 {
  z-index: 2;
  width: 110%;
  grid-row: 4/6;
  grid-column: 4/7;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6549019608);
}
@media only screen and (max-width: 56.25em) {
  .story__img--2 {
    transform: translateX(-3rem) translateY(4rem);
  }
}
.story__content {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: start;
  background-color: #f9f7f6;
  padding: 6rem 8vw;
  grid-template-rows: repeat(3, -webkit-min-content) 5rem;
  grid-template-rows: repeat(3, min-content) 5rem;
  grid-template-columns: 1fr minmax(1fr, 40vw) 1fr;
}
.story__content > * {
  margin-block: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .story__content {
    grid-template-rows: repeat(3, -webkit-min-content) 5rem;
    grid-template-rows: repeat(3, min-content) 5rem;
    grid-template-columns: 1fr 20fr 1fr;
    padding-block: 5rem;
  }
}
.story__text {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 5rem;
  grid-row: 3/4;
  grid-column: 2/3;
}
